<%= link_to "Create Article", new_article_path, class: "btn btn-light" %>

<%= "<h2 id='no-articles'>No Articles Created</h2>".html_safe if @articles.empty? %>

<% @articles.each do |article| %>
  <div class="card articles-list">
    <div class="card-body">
      <h3><%= link_to article.title, article_path(article) %></h3>
      <%= truncate(article.body, length: 500) %>
    </div>
    <div class="card-footer timestamp">
      <%= article.created_at %>
    </div>
  </div>
<% end %>